{#common}.{common} {
    font-size: 16px;
}

.{common}:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("{svgPath}");
    background-repeat: no-repeat;
    background-size: {relWidth}{units} {relHeight}{units};
}

.no-svg .{common}:before {
    background-image: url("{pngPath}");
}{/common}
{#svg}
.{name}:before {
    background-position: {relPositionX}{units} {relPositionY}{units};
    width: {relWidth}{units};
    height: {relHeight}{units};
}
{/svg}
